.nav1 {
    display: none;
}
@media screen and (max-width: 1300px) {
    .score-img {
        display: flex;
        flex-direction: column;
        /* 요소들을 세로로 나열 */
        align-items: center;
        /* 중앙 정렬 */
        margin-bottom: 10px;
        width: 100%;
    }

    .sports {
        /* margin-top: 20px; */
        height: auto;
        width: 100%;
        /* 이미지 높이 자동 조정 */
    }
    .epl-768 {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .nav {
        display: none;
    }
    .nav1 {
        display: block;
    }

    #top_menu1 {
        display: none; /* 기본적으로 숨겨두기 */
        justify-content: end;
    }
    .nav-link1 {
        text-decoration: none;
        color: black;
        font-weight: bold;
        cursor: pointer;
    }
    #top_menu1 ul {
        width: 100%;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    #top_menu1 ul li {
        width: 100%;
        padding:5px 0;
        text-align: center;
    }
    #main-logo1 {
        width: 95px;
        height: 75px;
    }
    #logo {
        width: 50px;
        height: 40px;
        cursor: pointer;
    }
    #ham-menu {
        display: flex;
        justify-content: space-between;
    }
    
    .img-768 {
        /* 게시판 사진 */
        /* top: 20px; */
        width: 83.33%;
        position: relative;
        margin: auto;
        height: 200px;
        text-align: center;

        /* position:absolute; */
    }

    .prev-768,
    .next-768 {
        /* 게시판 사이드 화살표를 안보이게 */
        display: none;
    }

    .dot-768 {
        /* 게시판 사진 페이지 클릭 점 */
        height: 8px;
        width: 8px;
    }


    .score-img {
        display: flex;
        flex-direction: column;
        /* 요소들을 세로로 나열 */
        align-items: center;
        /* 중앙 정렬 */
        margin-bottom: 10px;
        width: 100%;
    }

    .sports {
        /* margin-top: 20px; */
        height: auto;
        width: 100%;
        /* 이미지 높이 자동 조정 */
    }
    .epl-768 {
        width: 100%;
    }


    .news-t {
        font-weight: bold;
        font-size: 25px;
    }

    .span,
    .spanss {
        background-color: #eefaeb;
        height: auto;
    }

    .spans,
    .spanss {
        background-color: #eefaeb;
        white-space: normal;
        font-size: 10px;
    }




}