@charset "UTF-8";

/* 기본 색상 */
:root {
    --main-color: #5D9AB2;
    --accent-color: #BF6A7A;
    --dark-main-color: #2B5566;
    --text-bright-color: #fff;
    --icon-color: #fff;
    --icon-bk-color: #ddd;
    --large-width: 1000px;
}

/* 기본 설정: 페이지 전체 */
body {
    margin: 0;
    font-family: '맑은 고딕',
        'Apple SD Gothic Neo', 
        sans-serif;
}

/* 콘텐츠A: 히어로 이미지 */
.conA {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/fruits.jpg);
    background-position: center;
    background-size: cover;

    height: 100vh;
    min-height: 450px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-bright-color);  /* 변수 사용! */
}

.conA h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15vw;

    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    letter-spacing: 0.2em;
    margin-left: 0.2em;
}

.conA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.conA img {
    width: 20%;
}

.conA a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-bright-color);
    background-color: var(--accent-color);
    padding: 10px 30px;
    border: solid 3px currentColor;  /*  color 글자색과 같은 색상 */
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
}

.conA a:hover {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
    );
}


@media (min-width: 768px) {
    .conA h1 {
        font-size: 115px;
    }

    .conA p {
        font-size: 24px;
    }
}

/* 콘텐츠 B : 개요 (아이콘 + 텍스트 */
.conB .container {
    padding-top: 80px;
    padding-bottom: 20px;
}

.conB .text {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

.conB h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conB p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;  /* 줄높이 : font-size 의 1.8배 */
    opacity: 0.8;
}

.conB a {
    text-decoration: none;
    color: #5D9AB2;
    color: var(--main-color);
}

.conB a:hover   {
    text-decoration: underline;
}

.conB .icon {
    font-size: 40px;
    width: 2em;    /* 폭 글꼴 크기의 2배 */
    line-height: 2em; /* 높이, 글꼴 크기의 2배 */

    color: #fff;
    color: var(--icon-color);
    background-color: #ddd;
    background-color: var(--icon-bk-color);

    border-radius: 50%;  /* 둥글게 만들기 */
    text-align: center;

    display: inline-block;  /* 아래 margin 적용을 위해 */
    margin-bottom: 20px;
}

@media (min-width: 768px) { /* 768 이상 (pc) */
    /* flexible box 기능으로 가로 정렬 */
    .conB .container { /* 그래서, 부모를 flex 로 설정 */
        display: flex;
        max-width: 1000px;  /* 최대 폭 지정 */
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .conB .text {
        flex: 1;  /* 1 : 1 : 1 비율 설정*/
    }
}

/* 콘텐츠C: 개요(이미지 + 텍스트) */
.conC {
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
}

.conC .text {
    padding: 20px; /* 글자주변 여백 */
}

.conC h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conC p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conC a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    color: var(--text-bright-color);
    background-color: #BF6A7A;
    background-color: var(--accent-color);
    padding: 10px 30px;
    border : solid 3px currentColor;  /* currentColor : 글자와 같은 색상 */
    border-radius: 6px; 
    margin-top: 20px;
    display: inline-block; /* inline 이면 margin 적용 안된다, 따라서 inline-block 적용 */
}

.conC a:hover   {  /* 커서 올라가면 조금 밝게 보이기 */
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

.conC .photo {
    min-height: 200px;  /* 아무것도 없는 div 이기에 보이게 하려면 min-height 지정 */
    background-image: url(img/note.jpg);
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    /* flexible box 기능으로 가로 정렬 */
    .conC .container { /* 그래서, 부모를 flex 로 설정 */
        display: flex;
        /* 컨텐츠 B 와 너비 맞추기 */
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    /* 이미지 와 글자 3 : 2 비율 */
    .conC .photo {
        flex: 3;
    }
    .conC .text {
        flex: 2;
        padding: 50px; /* 글자주변 여백 */
    }
}

/* 콘텐츠D: 개요(이미지 + 글자 : 반대로 배치하기) */
/* 삭제
.conD {
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
}
*/

.conD .container {
    padding-top: 2px;  /* 모바일에서 위 여백 */
}


.conD .text {
    padding: 20px; /* 글자주변 여백 */
}

.conD h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conD p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conD a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    color: var(--text-bright-color);
    background-color: #BF6A7A;
    background-color: var(--accent-color);
    padding: 10px 30px;
    border : solid 3px currentColor;  /* currentColor : 글자와 같은 색상 */
    border-radius: 6px; 
    margin-top: 20px;
    display: inline-block; /* inline 이면 margin 적용 안된다, 따라서 inline-block 적용 */
box-shadow: 0 0 0 1px #888; /* 실선 1px 두께 그림자 (크롬에서는 box-shadow 에 변수 지정 불가)*/
}

.conD a:hover   {  /* 커서 올라가면 조금 밝게 보이기 */
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

.conD .photo {
    min-height: 200px;  /* 아무것도 없는 div 이기에 보이게 하려면 min-height 지정 */
    background-image: url(img/life.jpg);
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    /* flexible box 기능으로 가로 정렬 */
    .conD .container { /* 그래서, 부모를 flex 로 설정 */
        display: flex;
        flex-direction: row-reverse; /* 정렬순서 변경 */
        /* 컨텐츠 B 와 너비 맞추기 */
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
        /* PC 화면에서 위아래 여백 */
        padding-top: 40px;
        padding-bottom: 40px;

    }
    /* 이미지 와 글자 3 : 2 비율 */
    .conD .photo {
        flex: 0 0 400px; /* 이미지의 너비 400px 로 고정 */
            /* 처음 두개의 0 0 은 변화 관련 값
               둘다 0 지정하면 변화하지 않아 400px 로 고정하여 출력 */

    }
    .conD .text {
        flex: 1;  /* 이미지 제외한 남은 너비 채우기 */
        padding: 50px; /* 글자주변 여백 */
    }
}

/* 푸터 */
footer {
    background-color: #285566;
    background-color: var(--dark-main-color);
    color: #fff;
    color: var(--text-bright-color);
}

footer .container{
    padding: 40px 20px;  /*안쪽 여백*/
}

/* 푸터A : 사이트 정보 */
.footA {
    margin-bottom: 30px;
}

.footA h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing:  0.2em;
    margin-top: 0;
    margin-bottom: 10px;
}

.footA p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.footA a {
    color: inherit; /* 부모요소의 색상 사용 */
    text-decoration: none;
}

/* 푸터B : 푸터 메뉴 */
.footB div {
    margin-bottom: 20px;
}

.footB h3 {
    margin-top:  0;
    margin-bottom: 10px;
    border-bottom: solid 1px currentColor;
    font-size: 14px;    
}

.footB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footB a {
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.footB a:hover {
    background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    .footB {
        display: flex;
    }
    /* div 들의 비율 1:1:1 로 만들기 */
    .footB div {
        flex: 1;
    }
    /* 메뉴 사이의 여백 확보 */
    .footB div:not(:first-child) {
        margin-left: 40px;
    }
}

/* 푸터C: 저작권 */
.footC {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
    /* 768px 이상의 화면에서는 */
    footer .container {
        display: flex;
        flex-wrap: wrap; /* */
        /* 위 쪽의 컨텐츠와 너비 맞추기 */
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    .footA {flex: 0 0 40%;}  /* 사이트정보 40% */
    .footB {flex: 0 0 60%;}  /* 푸터 메뉴 60% */
    .footC {flex: 0 0 100%;} /* 저작권 100% */
}

/* 푸터D: SNS 메뉴 */
.footD {
    margin-top: 20px;
}

.footD ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* 아이콘 가로 정렬 */
}

.footD a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    padding: 0;

    /* 아이콘을 둥근 테두리 감싸기 */
    border: solid 1px currentColor;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;

    margin-right: 8px; /* 아이콘간 간격 */
}

.footD a:hover {
    background-color: rgba(0,0,0,0.3);
}

/* 헤더 */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}


/* 헤더A: 사이트 이름 */
.headA {
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

/* 헤더B: 네비게이션 메뉴 */
.headB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a {
    display: block;
    padding: 15px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.headB a:hover {
    background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    /* 768 이상 큰 화면에서는 */
    header .container {
        /* 사이트이름 과 내비게이션 메뉴를 각각 왼쪽/오른쪽으로 배치하기 */
        display: flex;
        align-items: center;  /* 세로 방향으로 중앙 정렬 */
        justify-content: space-between; /* 왼쪽 오른쪽 끝방향으로 정렬 */

        /* 하단 컨텐츠와 너비 맞추기*/
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    /* 링크를 가로로 정렬 */
    .headB ul {
        display: flex;
    }
}

/* 헤더C: 토글 버튼 */
@media (max-width: 767px) {  /* 768 이하 */
    /* 작은 화면 전용 설정 */
    header .container-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* 토글 버튼 스타일 */
    .headC {
        margin-right: 10px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;
    }

    .headC:hover {
        opacity: 0.3;
    }

    /* 작은 화면에선 메뉴 감추기 */
    .headB {
        display: none;
    }
}

@media (min-width: 768px) {
    /* 큰 화면 전용 설정 */
    .headC {
        display: none;
    }

    /* 큰 화면에선 메뉴 보이기 */
    .headB {
        display: block !important;
    }
}















