body {
    background-color: #898989;
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    line-height: 1.2em;
    color: #333;
}

#wrap {
    /* outline: 2px solid yellow; */

    width: 971px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;

    min-height: 780px;
    background-image: url(../images/shadow.png);
    background-repeat: repeat-y;
}

#logo {
    /* outline: 2px solid lightgreen; */

    float: left;
    width: 265px;
    margin: 40px 0 0 40px; /* ↑  →  ↓  ← */
}

header {
    height: 151px;
    margin: 0;
    padding: 0;
}

nav#top_menu {
    /* outline: 3px solid red; */

    width: 600px;
    float: right;
    margin: 50px 20px 0 0;
}

nav#top_menu ul {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #333;
}

nav#top_menu ul li {
    float: left;
    margin: 0 5px;  /* ↕ ↔ */
}

nav#top_menu ul li a{
    /* outline: 2px solid limegreen; */
    text-decoration: none;
    display: block;
    height: 20px;
    padding: 10px;
    color: #333;
}

nav#top_menu ul li a:hover {
    background-image: url(../images/);
    background-repeat: repeat-x;
    background-position: bottom;
}

#login {
    float: right;
    margin: 20px 64px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-spacing: 5px;
}

#login a {
    text-decoration: none;
    color: #333;
}

#login a:hover {
    color: #F90;
}

.clear {
    clear: both;
}

#main_img {
    width: 971px;
    height: 308px;
    background-image: url(../images/img_back.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#main_img img {
    margin:9px 0 0 0;
}

article#front {
    margin: 5px 0 5px 0;
}

#solution {
    border: solid 1px #FFFFFF;
    width: 910px;
    min-height: 150px;
    background: #EBEBEB;
    padding: 10px;  /* !important; */

    /* padding:10px 2px; */
    border-radius: 10px;
    margin: 0 0 0 20px;
}

#hosting, #security, #payment {
    width: 30%;
    float: left;
    padding: 10px;
}

@font-face {
    font-family: "seo";
    src: url("../images/segoeui.eot");
}

#hosting h3, #security h3, #payment h3 {
    font-family: seo;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin: 0 0 10px 80px;
}

#hosting p, #security p, #payment p {
    font-family: seo;
    font-size: 12px;
    color: #333;
    margin: 0 0 0 80px;
}

#hosting {
    background-image: url(../images/icon1.png);
    background-repeat: no-repeat;
    background-position: left 15px;
    border-right: 1px solid #CCC;
}

#security {
    background-image: url(../images/icon2.png);
    background-repeat: no-repeat;
    background-position: left 15px;
    border-right: 1px solid #CCC;
}

#payment {
    background-image: url(../images/icon3.png);
    background-repeat: no-repeat;
    background-position: left 15px;
}

#sec_news, #news_notice {
    float: left;
    width: 420px;
    margin: 15px 0 0 20px;
}

#sec_news h3, #news_notice h3 {
    font-family: seo;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    width: 420px;
    height: 24px;
    background-image: url(../images/h3_back.jpg);
    background-repeat: no-repeat;
    padding: 5px 0 0 22px;
}

#sec_news .orange {
    color:#F26522;
}

#news_notice .brown {
    color: #827b00;
}

#sec_news dt {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    margin: 5px 0;
    color: #F00;
}

#sec_news dt a {
    color: #F00;
    text-decoration: none;
}

#sec_news dt a:hover {
    color: #F90;
    text-decoration: underline;
}

#sec_news dd {
    margin-left: 0;
    color: #333;
}

#sec_news dd a {
    color: #333;
    text-decoration: none;
}

#sec_news dd a:hover {
    color: #F90;
    text-decoration: underline;
}

#news_notice {
    padding-left: 30px;
    /* display:inline; ie6 bgu fix */
}

#news_notice table {
    width: 400px;
    border-collapse: collapse;
    text-align: center;
}

#news_notice td {
    padding: 6px 4px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999;
}

#news_notice td.contxt {
    background-image: url(../images/tr_back.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    text-align: left;
    color: #333;
}

#news_notice a {
    color: #333;
    text-decoration: none;
}

#news_notice a:hover {
    text-decoration: none;
    color: #F90;
}

footer {
    margin: 50px 0 0 0;
    height: 80px;
    background-image: url(../images/under_logo.gif);
    background-repeat: no-repeat;
    background-position: 40px center;
}

footer hr {
    width: 900px;
    margin: 0 0 0 15px; /* !important; */
    margin: 0 0 0 35px;
}

footer #copy {
    font-family: seo;
    width: 450px;
    margin: 20px 0 0 190px;
    float: left;
}

footer #social {
    width: 130px;
    margin: 20px 20px 0 0;
    float: right;
}

footer #social img {
    margin: 0 7px;
}